@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #420144 16.62%, #ffffff 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: start;
  padding: 24px;
  padding-left: 100px;
}

.cabecalho-imagem {
  height: 72px;
  border-radius: 60px;
}

.cabecalho-titulo {
  font-family: 'Righteous', cursive;
  font-size: 55px;
  color: #FFF2E7;
  padding-left: 50px;
}

.conteudo {
  margin-bottom: 100px;
  border-top: 0.4px solid #FFF2E7;
  padding-left: 100px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 80px;
  padding-right: 80px;

}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 30px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  width: 900px;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
  padding-top: 30px;
}

.conteudo-botao {
  height: 90px;
  padding-top: 60px;
  padding-left: 770px;;

}

.botao {
  background-color: #ECD6C4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.imagemhub {
  width: 700px;
  height: 386px;
  overflow: hidden;
  margin: 50px auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.imagemhub ul{
  display: flex;
  list-style: none;
  width: 5600px;
  height: 386px;
}

.imagemhub li {
  position: relative;
  animation: slide 30s infinite ease-out;
}

@keyframes slide {
  0%{left:0px}
  8%{left:0px}

  12%{left:-700px}
  20%{left:-700px}

  24%{left:-1400px}
  32%{left:-1400px}

  36%{left:-2100px}
  44%{left:-2100px}

  48%{left:-2800px}
  56%{left:-2800px}

  60%{left:-3500px}
  68%{left:-3500px}

  72%{left:-4200px}
  80%{left:-4200px}
  
  84%{left:-4900px}
  92%{left:-4900px}

  100%{left:-0px}


}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 90px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
