.section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.first-section{
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}
.second-section{
    height: 100%;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.titiulo_contatos{
    font-size: 4rem;
    color: #7D2D88;
}
.card-grid-contatos{
    max-width: calc(33.33% - 9rem);
    border-radius: 1rem;
    /* box-shadow: 0 0 2rem rgba(0, 0, 0, .2); */
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    transition: transform .4s ease-in-out;
    padding: 3rem;
    gap: 1.5rem;
}
.card-grid-contatos:hover{
    transform: scale(1.08);
}
.card_contatos{
    flex: 0 0 calc(33.33% 33.33% -20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem 0;
    
}
.foto_contatos {
    width: 50%;
    border-radius: 50%;
}
.nome_contatos{
    font-size: 1.9rem;
    color: #7D2D88;
}
.curso{
    font-size: 1.5rem;
    color: black;
}
.icons-contatos{
    font-size:24px;
    color: #7D2D88;
    display:flex;
    gap: 2rem;
}
.footer-basic {
    padding:40px 0;
    background-color: transparent;
    color:#7D2D88;
}
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
.footer-basic li {
    display: inline;
    padding:0 10px;
}
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
.footer-basic ul a:hover {
    opacity:1;
}
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #7D2D88;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .social > a:hover {
    opacity:0.9;
}
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#7D2D88;
    margin-bottom:0;
}