.section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
.first-section{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}
.img_1{
    height: 100vh;
    height: 70vh;
}
.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 300px;
}
.editais{
    font-size: 4rem;
    color: #7D2D88;
}
.strong{
    color: #7D2D88;
}
.first-section .p-edi{
    font-size: 1.5rem;
    color: black;
    text-align: justify;
    max-width: 600px;
}
.second-section{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-section{
    height: 100vh;
}
.card-grid-ed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem 0;
}
.card_editais{
    width: 20rem;
    right: 70rem;
    flex: 0 0 calc(30% 30% -20px);
    max-width: calc(30% - 6rem);
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;

    background-color: white;
    height: fit-content;
    align-items: center;
    transition: transform .4s ease-in-out;
  }
.img_pas{
    width: 14rem;
  }

.titulo-pas{
    font-size: 1.2rem;
    color: #7D2D88;
    text-align: justify;
  }
.descricao_pas{
    text-align: justify;
    gap: 0rem;
  }
  .scrollable-text{
    max-height: 12rem; 
    max-width: 14rem;
    overflow: auto;
    cursor: pointer;
  }

.button_editais{
    display: flex;
    gap: 2rem;
}
.button-edital-1{
    color: white;
    background-color: #7D2D88;
    border: 2px solid #7D2D88;
    border-radius: 2rem;
    padding: 0.2rem 1.5rem;
    font-size: 16px;
    cursor: pointer;
}
.libras{
    height: 0.8rem;
    width: 0.8rem;
}
.footer-basic {
    padding:40px 0;
    background-color: transparent;
    color:#7D2D88;
}
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
.footer-basic li {
    display: inline;
    padding:0 10px;
}
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
.footer-basic ul a:hover {
    opacity:1;
}
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #7D2D88;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .social > a:hover {
    opacity:0.9;
}
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#7D2D88;
    margin-bottom:0;
}