.section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
}

.first-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first-section > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 18.75rem;
}

.quemsomos {
    font-size: 4rem;
    color: #7D2D88;
}

.strong {
    color: #7D2D88;
}

.first-section .p-i {
    font-size: 1.3rem;
    color: black;
    text-align: justify;
    max-width: 37.5rem;
}

.btn-saiba-mais {
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 1.875rem;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    width: 9.375rem;
    color: white;
    background-color: #7D2D88;
    text-align: center;
    font-weight: bold;
}

.btn-saiba-mais:hover {
    background-color: #c86cd4;
}

.box-img-main {
    max-width: 25.875rem;
}

.img {
    width: 100%;
}

.second-section-inicio {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40.625rem;
}

.coluna-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 18.75rem;
}

.missao {
    font-size: 4rem;
    color: #7D2D88;
}

.heart {
    color: #7D2D88;
    font-size: 1.4rem;
}

.p-ii {
    font-size: 1.3rem;
    color: black;
    text-align: justify;
    max-width: 25rem;
    left: 100vh;
}

.box-img_time {
    max-width: 34.375rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_2 {
    width: 100%;
    max-width: 25rem;
}

.coluna-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 18.75rem;
}

.visao {
    font-size: 4rem;
    color: #7D2D88;
}

.p-iii {
    font-size: 1.3rem;
    color: black;
    text-align: justify;
    max-width: 25rem;
    left: 100vh;
}

.box-img_inovacao {
    max-width: 34.375rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_3 {
    width: 100%;
    max-width: 25rem;
}

.third-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.coluna-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2.5rem;
}

.pilares {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.valores {
    margin-top: 12.5rem;
    font-size: 4rem;
    color: #7D2D88;
    text-align: center;
}

.p-iv {
    font-size: 1.3rem;
    color: black;
    text-align: justify;
    max-width: 50rem;
    left: 100vh;
}

.valores_sub {
    font-size: 1.44rem;
    color: #7D2D88;
    max-width: 18.75rem;
}

.valores_1 {
    max-width: 18.75rem;
}

.p-iv_sub {
    font-size: 1.3rem;
    color: black;
    text-align: justify;
    max-width: 18.75rem;
    left: 100vh;
}

.Ensino_Pesquisa {
    display: flex;
    flex-direction: column;
    max-width: 18.75rem;
    gap: 1.25rem;
    align-items: center;
}

.Comunidade_Cooperacao {
    display: flex;
    flex-direction: column;
    max-width: 18.75rem;
    gap: 1.25rem;
    align-items: center;
}

.Transfereia_Aplicacoes {
    display: flex;
    flex-direction: column;
    max-width: 18.75rem;
    gap: 1.25rem;
    align-items: center;
}

.fourth-section {
    margin-top: 15.625rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.375rem;
}

.bloco-titulo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4.375rem;
}

.unb-titulo {
    font-size: 2.5rem;
    color: #7D2D88;
}

.historia-titulo {
    font-size: 1.3rem;
    text-align: justify;
    max-width: 68.125rem;
}

.blocos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    gap: 9.375rem;
}

.bloco1 {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    gap: 1.25rem;
}

.li-b1 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style-type: none;
}

.a-b1 {
    font-size: 1.4rem;
    color: #7D2D88;
}

.p-b1 {
    font-size: 1.3rem;
    text-align: justify;
}

.bloco2 {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    gap: 1.25rem;
}

.li-b2 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style-type: none;
}

.a-b2 {
    font-size: 1.4rem;
    color: #7D2D88;
}

.p-b2 {
    font-size: 1.3rem;
    text-align: justify;
}

@media (max-width:785px){
    .section {
        padding: 6.25rem 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    .botão {
        align-items: center;
    }

    .first-section .p-i {
        font-size: 1.3rem;
        color: black;
        text-align: inherit;
    }

    .unb-titulo {
        font-size: 3rem;
    }

    .historia-titulo {
        font-size: 1.3rem;
        text-align: inherit;
    }

    .blocos {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: none;
    }

    .bloco1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 50rem;
        gap: 3.125rem;
    }

    .li-b1 {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        list-style-type: none;
    }

    .p-b1 {
        font-size: 1.3rem;
        text-align: inherit;
    }

    .bloco2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 50rem;
        gap: 3.125rem;
    }

    .li-b2 {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        list-style-type: none;
    }

    .p-b2 {
        font-size: 1.3rem;
        text-align: inherit;
    }
}
.footer-basic {
    bottom: 0;
    padding:40px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: transparent;
    color:#7D2D88;
}
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
.footer-basic li {
    display: inline;
    padding:0 10px;
}
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
.footer-basic ul a:hover {
    opacity:1;
}
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #7D2D88;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .social > a:hover {
    opacity:0.9;
}
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#7D2D88;
    margin-bottom:0;
}