.first-section-pedei{
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-pedei{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-width: 18.75rem;
}
.pedei{
  font-size: 4rem;
  color: var(--color);
}

.strong-pedei{
  color: #7D2D88;
}

.first-section-pedei .p-pedei{
  font-size: 1.5rem;
  color: black;
  text-align: justify;
  max-width: 63.313rem;
}

.lab{
  font-size: 3.5rem;
  color: var(--color);
}

.div-lab{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-width: 18.75rem;
  height: 20vh;
}


.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem 0;
}

.card-container {
  flex: 0 0 calc(33.33% 33.33% -20px);
  max-width: calc(33.33% - 6rem);
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: white;
  height: fit-content;
  align-items: center;
  transition: transform .4s ease-in-out;
}

.card-container:hover{
  transform: scale(1.08);
}

.card-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card-title {
  margin: 0.5rem 5%;
  font-size: 1.5rem;
}

.card-description {
  margin: 0.5rem 5%;
  color: #7D2D88;
  max-height: 9rem;
  text-align: justify;
  overflow: hidden;
  overflow-y: scroll;
}

.card-btn {
  text-align: center;
  width: 50%;
  border-radius: 1.875rem;
  padding: 0.5rem 1rem;
  background-color: #7D2D88;
  color: white;
  text-decoration: none;
  margin: 1rem 0.5rem;
}
.card-btn:hover {
  background-color: #ad58b8;
}
.footer-basic {
  bottom: 0;
  padding:40px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
  color:#7D2D88;
}
.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}
.footer-basic li {
  display: inline;
  padding:0 10px;
}
.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
.footer-basic ul a:hover {
  opacity:1;
}
.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}
.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #7D2D88;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}
.footer-basic .social > a:hover {
  opacity:0.9;
}
.texto_footer{
  margin-top:15px;
  text-align:center;
  font-size:18px;
  color:#7D2D88;
  margin-bottom:0;
}
.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#7D2D88;
  margin-bottom:0;
}
.logo_unb{
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.img_logo{
  max-width: 10vh;
  margin-top: 1.5rem;
  justify-content: center;
}
.fga{
  max-width: 18vh;
  margin-top: 1.5rem;
  justify-content: center;

}