*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    background: #E3E9F6;
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #ffffff;
    color: #2d2d2d;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    color: #7D2D88;
    margin-left: 10px;
    font-size: 30px;
}
.logo2{
    color: #7D2D88;
    margin-left: 10px;
    font-size: 10px;
}
.bars{
    display: flex;
    font-size: 20px;
    margin-left: 50px;
}
.link{
    margin: 10px;
    display: flex;
    border-radius: 10px;
    color: #2d2d2d;
    padding: 20px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:#7D2D88;
    color: #fff;
    transition: all 0.5s;
}
.active{
    background: #7D2D88;
    color: #fff;
}
.icon, .link_text{
    font-size: 20px;
}