* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}

main {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
}

.sidebar {
    position: sticky;
    top: 0;
    width: 12.5rem;
    height: 100vh;
    background-color: transparent;
    color: #000;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 1.25rem 0.9375rem;
}

.logo {
    color: #7D2D88;
    margin-left: 0.625rem;
    font-size: 1.5625rem;
}

.bars {
    color: #7D2D88;
    display: flex;
    font-size: 2.1875rem;
    margin-left: 3.125rem;
    cursor: pointer;
}

.search {
    outline: none;
    border: none;
    background-color: #eaeaea;
    margin: 0.9375rem;
    display: flex;
    border-radius: 0.625rem;
    padding: 0.9375rem 0.9375rem;
    font-size: 1rem;
    color: #7D2D88;
}

.search-icon {
    font-size: 1.125rem;
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.875rem;
}

.search-icon:hover {
    font-size: 1.25rem;
    color: #000000;
    transform: translateY(-47%);
    right: 1.8125rem;
}

hr {
    margin: 0.9375rem;
}

.link {
    margin: 0.9375rem;
    display: flex;
    border-radius: 0.625rem;
    color: #2d2d2d;
    padding: 0.8125rem 0.9375rem;
    gap: 0.9375rem;
}

.link:hover {
    background-color: #7D2D88;
    color: #fff;
    transition: all 0.5s;
}

.active {
    background-color: #7D2D88;
    color: #fff;
}

.icon,
.link_text {
    font-size: 1.125rem;
}
